:root {
	--main-bg: linear-gradient(
		-225deg,
		#5d9fff 0%,
		#b8dcff 48%,
		#6bbbff 100%
	);

	--font: "Inter", sans-serif;
	--bolder: bolder;
	--x-large: x-large;
}

body {
	background: var(--main-bg);
	font-family: var(--font);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

section {
	padding: 0 3rem;
	margin-top: p;
}

img {
	width: 80vh;
}

.container {
	background-color: var(--main-bg);
	display: flex;
	max-width: 100%;
	margin-top: 50px;
}

label,
input {
	display: flex;
}

br {
	clear: both;
}

.intro-text {
	font-weight: 700;
	font-size: var(--x-large);
}

.mid-text {
	font-size: var(--x-large);
}

.lets {
	margin-bottom: 0.5rem;
	font-weight: var(--bolder);
}

input {
	border-radius: 5px;
	height: 40px;
	width: 300px;
	box-sizing: border-box;
	border: 1px solid #e5e7eb;
	-webkit-transition: 0.5s;
	margin-bottom: 35px;
	outline: none;
	font-size: large;
	padding-left: 3px;
	border: 2px solid rgb(217, 217, 217);
}

input::placeholder {
	color: #adaeb1;
	font-style: italic;
	padding-left: 3px;
}

input:valid {
	border: 2px solid green;
	background-color: rgb(217, 250, 205);
}

input:focus {
	border: 2px solid #0e479d;
}

label {
	font-size: smaller;
	font-weight: var(--bolder);
	text-transform: uppercase;
	margin-bottom: 2px;
}

.right {
	margin-left: 40px;
}

button {
	height: 45px;
	margin-top: 10px;
	width: 250px;
	border-radius: 5px;
	border-style: none;
	background-color: #3082fd;
	font-weight: bolder;
	font-size: large;
	color: white;
}

button:hover {
	background-color: #5d9fff;
}

a {
	text-decoration: none;
}

form + p {
	font-size: 1.2rem;
}

footer {
	font-size: var(--x-large);
	margin: 0px;
}

footer > p > a {
	text-decoration: underline;
}
